

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin: 0px auto;
}

.chord-container {
    width: 285px;
    height: 500px;
    overflow: hidden;
    scale: 0.4;
}

table {
    border-spacing: 0;
    margin: 0px auto;
    width: 225px; /*45px * 5 */
    height: 350px;
    border: 2px solid black;
}

caption {
    font-size: 2rem;
    font-weight: bold;
    height: 70px;
    user-select: none;
}


td {
    border: 2px solid black;
    width: 45px;
    height: 70px;
    justify-items: center; /* balances the right-most point center */
}


.point {
    position: relative;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: -22.5px;
    color: white;

    text-align: center;
    font-size: 1.4rem;
    user-select: none;
}

.invisible {
    border: 0;
    position: absolute;
}

.invisible .point {
    top: 20px;
}

.hollow:not(.invisible) { /* hollow = empty first row (fret but) */
    border: 5px solid black;
    width: 45px;
    height: 1px;
    justify-items: center;
    background-color: black;
}

.hollow .point { /* open strings o */
    top: -30px;
    background-color: transparent;
    border: 1px solid black;
    height: 3.14px;
    width: 3.14px;
    scale: 5;
}

.invisible.hollow .point {
    top: -25px;
}

.cross { /* closed strings x */
    position: relative;
    height: 0;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    top: -50px;
    left: -22.5px;
    user-select: none;
}

.cross::after {
    content: "x";
}


/* ATTENTION: Each bar needs specific properties depending on 
the starting and ending strings. This should be defined using
JavaScript when the chord is created */
.bar {
    position: absolute;
    border-radius: 10px;
    width: 245px; /* 30px larger than fret width 225px */
    height: 15px;
    background-color: black;
    left: 20px; 
} 

.bar-index {
    font-family: monospace;
    font-size: 1.3rem;
    font-weight: bold;
    left: 270px;
    user-select: none;
    height: 20px;
    width: 10px;
}

/*
THESE ARE SOME OF THE REMOVED STYLINGS (NOT NEEDED)

tr {
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

#fret-head {
    height: 0px;
    visibility: collapese;
    overflow: hidden;
}

*/