:root {
    /* https://colorswall.com/palette/36287 */
    --color0: #90724f;
    --color6: #efe6dc;
    --color5: #decdb9;
    --color4: #ceb396;
    --color3: #c6a785;
    --color2: #bd9a73;
    --color1: #b58e62;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin: 0px auto;
    font-family: Verdana;
    background-color: var(--color6);
}

.chord-container {
    /* 285 x 500 */
    width: 325px;
    height: 500px;
    overflow: hidden;
    scale: 0.7;
    background-color: white;
    border: 3px solid black;
    border-radius: 2px;
    margin: auto;
}

table {
    border-spacing: 0;
    margin: 0px auto;
    width: 225px; /*45px * 5 */
    height: 350px;
    border: 2px solid black;
}

caption {
    font-size: 2rem;
    font-weight: bold;
    height: 70px;
    user-select: none;
    margin: 15px 0;
}


td {
    border: 2px solid black;
    width: 45px;
    height: 70px;
    justify-items: center; /* balances the right-most point center */
}


.point {
    position: relative;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: -22.5px;
    color: white;

    text-align: center;
    font-size: 1.4rem;
    user-select: none;
}

.invisible {
    border: 0;
    position: absolute;
}

.invisible .point {
    top: 20px;
}

.hollow:not(.invisible) { /* hollow = empty first row (fret but) */
    border: 5px solid black;
    width: 45px;
    height: 20px;
    justify-items: center;
    background-color: black;
}

.hollow .point { /* open strings o */
    top: -30px;
    background-color: transparent;
    border: 1px solid black;
    height: 3.14px;
    width: 3.14px;
    scale: 5;
}

.invisible.hollow .point {
    top: -25px;
}

.cross { /* closed strings x */
    position: relative;
    height: 0;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    top: -50px;
    left: -22.5px;
    user-select: none;
}

.cross::after {
    content: "x";
}


/* ATTENTION: Each bar needs specific properties depending on 
the starting and ending strings. This should be defined using
JavaScript when the chord is created */
.bar {
    position: absolute;
    border-radius: 10px;
    width: 245px; /* 30px larger than fret width 225px */
    height: 15px;
    background-color: black;
    left: 20px; 
} 

.bar-index {
    font-family: monospace;
    font-size: 1.3rem;
    font-weight: bold;
    left: 270px;
    user-select: none;
    height: 20px;
    width: 10px;
}



/* NONE CHORD CSS */
h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 30px 0;
    color: var(--color0);
}

#output, #chord-name-container{
    display: flex;
    width: 600px;
    background-color: var(--color5);
    border: 2px solid var(--color1);
    border-radius: 5px;
    margin: 20px auto;
}

#chord-name-container {
    height: 100px;
    font-size: 4rem;
    color: var(--color0);
    justify-content: center;
    align-items: center;
}

#output {
    height: 500px;
}

#controls {
    display: flex;
    justify-content: space-evenly;
}

select {
    width: 140px;
    height: 50px;
    background-color: var(--color5);
    border: 1px solid var(--color1);
    border-radius: 5px;
    box-shadow: 0 0 0 0.2rem var(--color4);
}

select:hover {
    cursor: pointer;
}

#generate-chord-btn {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: var(--color4);
    box-shadow: 0 0 0 0.2rem var(--color4);
}

#generate-chord-btn:hover {
    cursor: pointer;
    background-color: var(--color5);
}

#generate-chord-btn:active {
    background-color: var(--color3);
}

#timer {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 30px auto;
    border-radius: 5px;
    color: var(--color0);
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 0.2rem var(--color4);
    user-select: none;
}


@media (max-width: 600px) {
    #output {
        width: 80vw;
    }
}